Repository borksh/bork, pull requests merged in 2022-03, with the labels that each got.

#39 (feature) Tab completions
  .fpm
  pkg/after-install.sh
  pkg/after-uninstall.sh
  pkg/bash_completions.sh
  pkg/zsh_completions.sh
Labels: enhancement, packages

#40 (feature) bork status exit codes
  bin/bork
  lib/declarations/ok.sh
Labels: enhancement, core

#41 (bug) (types) Remove Homebrew tap pinning
  Changelog.md
  docs/_types/brew-tap.md
  test/fixtures/brew-tap-pinned.txt
  test/type-brew-tap.bats
  types/brew-tap.sh
Labels: bug, documentation, types

#43 (bug) (types) Workaround for `mas account` failing on macOS >= 12
  lib/helpers/system.sh
  test/type-mas.bats
  types/mas.sh
Labels: bug, types, core

#44 (feature) (types) Users & groups on Darwin
  docs/_types/group.md
  docs/_types/user.md
  test/fixtures/group-darwin.txt
  test/fixtures/user-list-darwin-uniqueid.txt
  test/fixtures/user-list-darwin.txt
  test/fixtures/user-list-linux.txt
  test/type-group.bats
  test/type-user.bats
  types/group.sh
  types/user.sh
Labels: documentation, enhancement, types
